// Required Imports
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
// Colors
$clear: snow;
$default: $gray-900;
$blue: steelblue; $brown: saddlebrown; // Combo 1
$red: firebrick; $black: $gray-800; // Combo 2
$thistle: thistle; $teal: teal; // Combo 3
$olive: darkseagreen; $purple: rebeccapurple; // Combo 4
$violet: darkslateblue; $green: seagreen; // Combo 5
$gray: darkslategray; $pink: deeppink; // Combo 6
$orange: lightsalmon; $crimson: maroon; // Combo 7
$khaki: moccasin; $sage: darkolivegreen; // Combo 8
$wood: $orange-800; $cyan: royalblue; // Combo 9
$plum: plum; $magenta: mediumvioletred; // Combo 10
$primary: $plum; $secondary: $magenta;
// Container Style
:root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  background-color: $primary; // Dynamic Color
}

body {
  width: 32rem;
  border-radius: 6px;
  background-color: $clear;
  box-shadow: -1px 2px 4px $default;
  font-family: Georgia, Times, serif !important;
  #root > div {
    color: $secondary; // Dynamic Color
    padding: 2rem 3rem;
  }
}
// Card Style
p {
  text-align: end;
}

button {
  border: 0;
  float: right;
  padding: 6px 10px;
  border-radius: 6px !important;
  color: $clear;
  background-color: $secondary; // Dynamic Color
  button:hover {
    background-color: $secondary; // Dynamic Color + Gradient
  }
}

div > a {
  display: flex;
  width: 2rem;
  font-size: 36px;
  color: $secondary !important; // Dynamic Color
}

div > a:hover {
  color: $secondary !important; // Dynamic Color + Gradient
}

header {
  top: 2rem;
  position: absolute;
  color: $clear;
  text-shadow: -1px 2px 2px $default;
  a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: $clear;
  }
  a:hover {
    color: $clear;
  }
}

@media only screen and (max-height: 428px) {
  header {
    visibility: hidden;
  }
}
// Boilerplate
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";