@use '@/styles/variables' as *;

:root {
  --foreground: oklch(14% 0 0deg / 50%);
  --background: oklch(98% 0 0deg);

  scrollbar-width: thin;
  scroll-behavior: smooth;
  background: var(--background);
  transition: background-color $transition;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  gap: 2rem;
  width: 34rem;
  display: inherit;
  min-height: 100dvh;
  font-family: $font;
  flex-direction: column;
}

::selection {
  color: $white;
  background: var(--background);
  transition: background-color $transition;
}

a,
button {
  border: none;
  cursor: pointer;
  position: relative;
  color: currentcolor;
  text-decoration: none;
  border-radius: $radius;
  background: transparent;
  -webkit-tap-highlight-color: $tap;
  transition: color $transition-short;

  &:focus-visible {
    outline: 0.125rem solid currentcolor;
  }
}
